/*@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
#nav
{
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-style
{
    background-color: rgba(52, 108, 161, 0.9);
    border-color: rgba(52, 108, 161, 0.9);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.40);
}
#nav .li-title
{
    color:#fff!important;
    font-size: 16px;
}
    #nav .li-title:hover
    {
        color:#DBD6D6;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover
    {
        background-color: rgba(38, 67, 100, 0.7);
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover
    {
        background-color: #5C2828;
    }
    .dropdown-menu > li a:hover
    {
         background-color: #F2E3E3;
    }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}