<!DOCTYPE html>
<html lang='es'>
                <head>
                    <meta charset='UTF-8'>
                    <title>AVISO DE CAMBIO DE ESTADO DE CUENTA</title>
                </head>
                <body>
                    <div style'margin-left:5%;'>
                        <h1>Aviso de cuenta $estado</h1>
                        <h2>CUENTA:$cuenta</h2><br>
                        <span>Por medio del presente le informamos que la cuenta <strong>$cuenta</strong> del banco <strong>$banco</strong> ha sido <strong>$edo_nombre</strong>, el cambio de estado se llevo a cabo en la fecha y hora: <strong>$updated_at</strong>, por tal motivo le pedimos tomar en cuenta las consideraciones necesarias en relación a esta cuenta.</span>
                        <br><br>
                         <table style='width:60%' border='1'>
                          <tr>
                            <td>Folio</td>
                            <td>Estado</td>
                            <td>Fecha</td>
                            <td>Observaciones</td>
                          </tr>
                          <tr>
                            <td>$folio</td>
                             <td>$estado</td>
                            <td>$updated_at</td>
                            <td>$observaciones</td>
                          </tr>
                        </table> 
                        <br><br>
                        <strong>¡Saludos!</strong><br><br>
                        <img src='./images/logo-integra-xl.png'/><br>
                        <span style='color:#686767;'>Por favor no responda a este mensaje, este es un correo automatico enviado a travez de la plataforma <strong>INTEGRA FINANZAS</strong>.</span>
                        
                    </div>
                </body>
                </html>